<a href="https://colab.research.google.com/github/champigon1/cap-comp215/blob/main/Copy_of_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sequence and Map data structures - Strings, Tuples, Lists, Dictionaries
Our week 2 lesson workbook, available on Github from the powderflask/cap-comp215 repository.

As usual, the first code block just imports the modules we will use.

In [ ]:
import datetime
import matplotlib.pyplot as plt
import  matplotlib.dates as mdates
from pprint import pprint

## f-strings
A `string` is a sequence of characters / symbols.
This familiar data structure is quite powerful, and format-strings (f-strings) take it to the next level....

In [ ]:
today = datetime.date.today()
the_answer = 42
PI = 3.1415926535

'{today} is not special, but {the_answer} and {PI} are!'

'{today} is not special, but {the_answer} and {PI} are!'

## List Comprehension
Provides a compact syntax for two very common sequence-processing algorithms:  Map  and Filter

Basic syntax:

In [ ]:
[i**2 for i in range(100) if i%5==0]

[0,
 25,
 100,
 225,
 400,
 625,
 900,
 1225,
 1600,
 2025,
 2500,
 3025,
 3600,
 4225,
 4900,
 5625,
 6400,
 7225,
 8100,
 9025]

### Map Algorithm
Apply the same function to every item in another sequence (i.e., provide a "mapping" from the source sequence to the target

In [ ]:
[i**2 for i in range (1,11) ]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Filter
Select a sub-set of the elements from another sequence based on some criteria.

In [ ]:
VOWELS = 'aeiou'
text = '''
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
'''
', '.join([_ for _ in text if _ in VOWELS])

'o, e, i, u, o, o, i, a, e, o, e, e, u, a, i, i, i, e, i, e, o, e, i, u, o, e, o, i, i, i, u, u, a, o, e, e, o, o, e, a, a, a, i, u, a, e, i, a, i, i, e, i, a, u, i, o, u, e, e, i, a, i, o, u, a, o, a, o, i, i, i, u, a, i, u, i, e, e, a, o, o, o, o, e, u, a'

## Data Wrangling with List Comprehension
E-learn's Live Quiz module does track quiz scores for each student, but does not store them in the gradebook,
and it reports on them in the most useless way.

Let's do some "data wrangling" to make sense out of this mess!

### The Problem: Unstructured Data!
Notice it is just a single large string!  The real data set has 36 students, and I need to do this every week!

In [ ]:
"""
  1.                 Ali Oop scored  7/ 8 = 87%


  2.          Alison Ralison scored  8/ 8 = 100%


  3.         Ambily Piturbed scored  8/ 8 = 100%


  4.  Arshan Risnot Farquared scored  5/ 8 = 62%


  5.       Ayushma Jugernaugh scored  5/ 8 = 62%


  6.       Brayden Labaguette scored  7/ 8 = 87%
"""

'\n  1.                 Ali Oop scored  7/ 8 = 87%\n\n\n  2.          Alison Ralison scored  8/ 8 = 100%\n\n\n  3.         Ambily Piturbed scored  8/ 8 = 100%\n\n\n  4.  Arshan Risnot Farquared scored  5/ 8 = 62%\n\n\n  5.       Ayushma Jugernaugh scored  5/ 8 = 62%\n\n\n  6.       Brayden Labaguette scored  7/ 8 = 87%\n'

### Goal
Turn this into structured data: a list of 2-tuples, each student's full name and their integer score.

In [ ]:
student="""
  1.                 Ali Oop scored  7/ 8 = 87%


  2.          Alison Ralison scored  8/ 8 = 100%


  3.         Ambily Piturbed scored  8/ 8 = 100%


  4.  Arshan Risnot Farquared scored  5/ 8 = 62%


  5.       Ayushma Jugernaugh scored  5/ 8 = 62%


  6.       Brayden Labaguette scored  7/ 8 = 87%
"""
students= [s.split() for s in student.split('\n') if s!='']
scores = [int(s[-4].rstrip('/')) for s in students]
names = [' '.join(s[1:-5]) for s in students]
list(zip(names,scores))

[('Ali Oop', 7),
 ('Alison Ralison', 8),
 ('Ambily Piturbed', 8),
 ('Arshan Risnot Farquared', 5),
 ('Ayushma Jugernaugh', 5),
 ('Brayden Labaguette', 7)]

## Records
A *record* is a compound data value - a collection of simpler data values (fields) that all describe a single entity.

 * tuple
 * dictionary
 * object

Problem: develop the data representation for a `student` in a student record system,
where a `student` has a first and last name, student id, and date of birth

In [ ]:
# Tuple
("sukhmandeep singh", "Kalra" , 100173422, 29-11-2002)
# Dictionary
[
    "name":"sukhmandeep singh "
    "last" : "kalra "
    "student no" : 100173422
    "dateofb" : 29-11-2002
]
# Object
class Student:
    def name(self, first_name, last_name, student_id, date_of_birth):
        self.first_name = first_name
        self.last_name = last_name
        self.student_id = student_id
        self.date_of_birth = date_of_birth

student_object = Student("Sukhmandeep Singh", "Kalra", 100173422, "29-11-2002")